Assets/NGUI/*
Assets/JustGood.meta
Assets/JustGood/
Assets/TAGENIGMA Toolbox.meta
Assets/TAGENIGMA Toolbox/
Assets/UnityVS.meta
Assets/UnityVS/
Assets/UnIDE.meta
Assets/UnIDE/
Library/
Temp/
*.csproj
*.sln
UnityVS.ouya-unity-plugin.sln.DotSettings
obj/Debug/ouya-unity-plugin-VS11.csproj.FileListAbsolute.txt
