Assets/JustGood.meta
Assets/JustGood/
Assets/TAGENIGMA Toolbox.meta
Assets/TAGENIGMA Toolbox/
Assets/UnityVS.meta
Assets/UnityVS/
Library/
Temp/
*.csproj
*.sln
UnityVS.ouya-unity-plugin.sln.DotSettings
